@import url('https://fonts.googleapis.com/css?family=Special+Elite|Amatic+SC|Montserrat|Roboto+Condensed|Open+Sans+Condensed:300');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    
    background-color:#fefcf7;
   
}

.link{

    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

.post-list {
    border: 1px solid  gainsboro;
    padding: .5rem;
    box-shadow: 0 -1px 4px #ede7e7;
    margin: 1rem;
}

img{
  height: 90% !important;
}

.post-list:hover{
    background-color: whitesmoke;
}


.tags{
    display: flex;
    flex-direction: column;
}

.tags a{
    margin-bottom: 2rem;
    list-style: none;
        background-color: #ececec;
    border: 1px solid #ffff;
    border: 1px solid #ffff;
    width: 80%;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(31, 26, 26);
}

