@import url('https://fonts.googleapis.com/css?family=Special+Elite|Amatic+SC|Montserrat|Oswald|Roboto+Condensed|Open+Sans+Condensed:300');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    
    background-color:#fefcf7;
    max-width: 100vw;
   
}

.post-list h1{

    font-family: 'Oswald', Courier, monospace;
}
.link{

    text-decoration: none;
    color: black;
}

.container{

    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* display:flex; */

}

.post-list {
    /* border: 1px solid  gainsboro;
    padding: .5rem;
    box-shadow: 0 -1px 4px #ede7e7;
    margin: 1rem; */
    /* background-image: url('https://images.unsplash.com/photo-1432889490240-84df33d47091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100vw;
   
}

img{
  height: 90% !important;
}

.post-list:hover{
    color: #f29c81;
   
}


.tags{
    display: flex;
    flex-direction: column;
}

.tags a{
    margin-bottom: 2rem;
    list-style: none;
        background-color: #ececec;
    border: 1px solid #ffff;
    border: 1px solid #ffff;
    width: 80%;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(31, 26, 26);
}

/*                 HOMEPAGE                    */


.homeContainer{
    max-width: 100vw;
    max-height: 100vh;
}
.hoofdFotoContainer{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoofdFoto{
  width: 65vw;
  height:45vh;
    background-image: url(../images/su.jpg);
    background-position: 20% 42%;
    background-repeat: no-repeat;
    background-size:cover;
}

.hoofdFotoTekst{
    margin-top:12rem;
}

.quote h2{
   
    color:#fff; 
    display: block;
    background-color:#f29c81;
    color:white;
    margin-left:-10rem;
    display:inline-block;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-family: Montserrat, sans-serif;
    padding:.3rem;
    letter-spacing: .4rem;

  
   
}

