.menu-container{
    max-width:90vw;
    display: flex;
    max-height: 6rem;
  }
  nav{
    font-family: 'Special Elite', cursive;
    display: flex;
    justify-content: flex-end;
   
    width:100vw;
    font-size:15px;
    padding:2px;
    margin-top:2rem;
  
  }
  
  .menu-item{
    padding: 5px 14px;
    color:#999;
  
  
  
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover{
    color:#ffb6b9;
  }
  
  .logo{
  width: 100%;
  height: auto;
  padding-left:2rem;}